:root {

--allfont-family: Arial, Verdana, Tahoma, sans-serif;
--allbackground-color: #000;
--allcolor: #fff;


}
body, html {

  height: auto;
  background-color: var(--allbackground-color);
  font-family: var(--allfont-family);
  scroll-behavior: smooth;

}



#tech {

  z-index: 0;
  /*background-image: linear-gradient(right,rgba(0, 0, 0, 0.24,rgba(13, 12, 14, 0.795)));*/
  height:20%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {

  z-index: 1;
  text-align: center;
  position: absolute;
  right: 5%;
  top: auto;
  color: var(--allcolor);
  font-family: var(--allfont-family);
}

.main-body{

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.header-section{

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.SectionOne {

  z-index: 1;
  display: flex;
  flex-direction: column; 
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: absolute; 
  top: auto;
  max-width: 30%;
  max-height: 100%;
  margin-left: 2%;
}

#Rules{

  flex-flow:  1;
  top: 20%;
  position: static;
  text-align: left;
  order: 0;
  flex-basis: auto;
  align-self: left;
  color: var(--allcolor);
  font-size: 100%;
  color: var(--allcolor);
  font-family: var(--allfont-family);
  max-height: 60%;
} 

h2 {

  order : 1;
  z-index: 1;
  color: var(--allcolor);
  font-family: var(--allfont-family);
  font-size: 100%;
  font-size-adjust: inherit;
 
}
#Rules,p{

  background-color: none;
  color: var(--allcolor);
  font-family: var(--allfont-family);
  top:auto;
}

#nav-score{
  
  flex-flow:  2;
  position: relative;
  text-align: left;
  margin-left: 0.1%;
  flex-basis: auto;
  
  color: var(--allcolor);
  font-size: 100%;
 
  }

#CountDown{

  flex-flow:  3;
  position: relative;
  text-align: left;
  margin-left:0.1%;
  flex-basis: auto;
  color: var(--allcolor);
  font-size: 100%;
  }



  .imgBtn{

    height: 20%;
    width: 20%;
  }
  
  .imgBtn :hover{

    height: 25%;
    width: 25%;
    box-shadow: 0 3px 10px rgba(140, 21, 219, 0.76);
   
    }

/*--------------------------------------------------------------------------------------------------------------*/

.flex-body{

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  column-gap: 25%;
  width: auto;

}  
/*--------------------------------------------------------------------------------------------------------------*/
.SectionTwo {

  order: 1;
  flex: 1 1 auto;
  align-self: auto;
  max-width: 100%;
  font-size: 100%;
  
  display:flex;
  flex-flow: column nowrap; 
  column-gap: 5%;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

#question{                              /*child of SectionTwo Element*/

  
  order: 1;
  flex: 1 1 auto;
  position: relative;
  color: var(--allcolor);
  font-size: auto;
  text-align: center;
  font-family: var(--allfont-family);
  
}
  #ask{

  color: var(--allcolor);
  text-align: center;
  font-family: var(--allfont-family);
  }


  .answers{

    flex: 1 1 auto; 

    display:flex;
    flex-direction: row;
    column-gap: 5%;
    justify-content: center;
    align-items: space-evenly;
    width: 100%;
  }

  #a, #b, #c, #d {

    flex: 0 1 auto;
    align-self: baseline;
    font-size: 100%;
    background-color: #fff;
    border: 5, solid, gray;
    text-align: center;
    border-radius: 10%;
    width:auto;
    gap: 5%;
    box-shadow: darkgray;
    
  }

  #result {

    flex: 1 1 auto; 
    order:  3;
    /*position: relative;*/
    padding-top: 5%;
    color: var(--allcolor);
    font-size: auto;
    text-align: center;
    font-family: var(--allfont-family);
}    
/*------------------------------------------------------------------------------------------------------------*/

.SectionThree{


  order: 2;
  flex: 1 1 auto;
  align-self: auto;
  max-width: 100%;
  font-size: 100%;
  padding-top: 15%;
  display:flex;
  flex-flow: column nowrap; 
  column-gap: 5%;
  justify-content: center;
  align-items: center;
  width: auto;
}

.scores{

  flex: 0 1 auto;
  
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2%;

  }

  .scoreHistory{

    flex: 0 1 auto;
  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2%;
    border: 5px solid darkgray;
  }

  .SH-head{

    flex: 0 1 auto;
  
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2%;

    border-color: darkgray;
    border-width: 5px;
  }

    #TrophyHistory{
      text-align: center;
      height: 75%;
      width: 75%;
      left: 30%;
    }
    
    #h3 {

      text-align: center;
      color: var(--allcolor);
      font-size: 100%;
 
    }

  .SH-details{

    order: 1;
    flex: 0 1 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-evenly;
    gap: 2%;
   
  }

  .SHD-head{
        
   
    flex: 0 1 auto;
    color: var(--allcolor);
    font-family: var(--allfont-family);
    font-size: 100%;
    font-size-adjust: inherit;
    
    display: flex;
    flex-direction: row;
    gap: 10%;
    background-color: black;
    width:auto;
    height: 50%;

  }
  #SHD-init{
    order: 1;
    border: 3px solid darkgray
  }

  #SHD-score{

    order: 2;
    border: 3px solid darkgray

 }
  .SHD-Details{
  
    flex: 0 1 auto;
    color: var(--allcolor);
    font-family: var(--allfont-family);
    font-size: 100%;
    font-size-adjust: inherit;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    
    gap: 10%;
    background-color: black;
    width:auto;
    height: 50%;
    
  }
    
  .SHD-initials{

    order: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    list-style: none;
    width: 50px;
    text-align: center;
  }

  .SHD-score{ 

    order: 2;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50%;
    list-style: none;
    width: 65px;
    text-align: center;
 
  }

 .SHD-initials li:nth-child(odd){


    background-color: darkgray;
    color: black;
  
 }

 .SHD-score li:nth-child(even){

  background-color: darkgray;
  color: black;

}

  #ResultInitials-0
  #ResultInitials-1
  #ResultInitials-2
  #ResultInitials-3
  #ResultInitials-4
  #ResultInitials-5
  #ResultInitials-6
  #ResultInitials-7
  #ResultInitials-8
  #ResultInitials-9
  {
    
  /*  color: var(--allcolor);*/
    font-family: var(--allfont-family);
    flex-basis: 50%;
  }

  #ResultScores-0
  #ResultScores-1
  #ResultScores-2
  #ResultScores-3
  #ResultScores-4
  #ResultScores-5
  #ResultScores-6
  #ResultScores-7
  #ResultScores-8
  #ResultScores-9
  {
 
    color: var(--allcolor);
    font-family: var(--allfont-family);
    flex-basis: 50%;
  }

  .clear{
    
    order : 3;
    flex: 0 1 auto;
    align-self: center;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: #fff;
    border: 5, solid, gray;
    text-align: center;
    border-radius: 10%;
    width:auto;
    gap: 5%;
    box-shadow: darkgray;

}
.back{

order: 2; 
flex: 1 1 auto;
align-self: flex-start;
background-color: #fff;
border: 5, solid, gray;
text-align: center;
border-radius: 10%;
width:auto;
gap: 5%;
box-shadow: darkgray;
margin-top: 2%;

}
